<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--[if !mso]><!-->
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--<![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <!--[if (gte mso 9)|(IE)]>
        <style type="text/css">
            table {border-collapse: collapse !important;}
        </style>
        <![endif]-->
    </head>
    <body style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;background-color:#fff;">
        <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
            <div class="webkit" style="max-width:600px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;">
                <!--[if (gte mso 9)|(IE)]>
                <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333;">
                <tr>
                <td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                <![endif]-->
                <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333;max-width:600px;Margin:0 auto;width:100%;">
                    <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                            <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333;max-width:600px;Margin:0 auto;width:100%;">
                                <tr>
                                    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                        <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333;">
                                            <tr>
                                                <td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;">
                                                    <p class="h1" style="Margin:0;font-weight:700;font-size:18px;Margin-bottom:25px;">Hi {{name}}</p>
                                                    <p style="Margin:0;font-size:16px;Margin-bottom:30px;">Please follow the link to verify your email address and complete the signup.</p>
                                                    <center style="Margin-bottom:30px;"><a href="{{url}}" target="_blank" style="color:#2b5a83;text-decoration:none;border-radius:3px;border:1px solid #2b5a83;padding: 10px 19px 12px 19px;font-size:17px;font-weight:500;display:inline-block;" >{{linktext}}</a></center>
                                                    <p style="Margin:0;font-size:16px;Margin-bottom:15px;">Welcome to SharingMoments</p>
                                                    <p style="Margin:0;font-size:16px;Margin-bottom:10px;">The SharingMoments Team</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--[if (gte mso 9)|(IE)]>
                </td>
                </tr>
                </table>
                <![endif]-->
            </div>
        </center>
    </body>
</html>